body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation,
.cart,
.services,
.social,
.filter-options,
.catalog-list,
.pagination,
.list,
.sort {
  list-style: none;
}

.main-navigation {
  display: flex;
  justify-content: center;
  padding-top: 49px;

  line-height: 1.88;
  font-weight: 500;
  color: inherit;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 26px;
}

.site-navigation a {
  font-weight: 500;
  font-size: inherit;
  color: inherit;
}

.site-navigation li:last-child {
  margin: 0;
}

.site-item {
  margin-right: 47px;
}

.cart a {
  line-height: 1.88;
  font-weight: 500;
  text-transform: uppercase;
  color: inherit;
}

.slide {
  display: none;
  height: 448px;
}

.slider-section {
  position: relative;
  height: 431px;
  overflow: hidden;
  background-color: #eeeeee;
}

.slide-title {
  padding: 0;
  padding-top: 78px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 27px;
  width: 514px;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: inherit;
}

.slide-description {
  margin-bottom: 38px;
  width: 36%;

  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.slide.first {
  background: url("../img/slide1.png") no-repeat;
  background-position: 93%;
}

.slide.second {
  background: url("../img/slide2.png") no-repeat;
  background-position: 93%;
}

.slide.third {
  background: url("../img/slide3.png") no-repeat;
  background-position: 93%;
}

.services {
  display: flex;
  padding-left: 0;
  padding-top: 80px;
  padding-bottom: 57px;
  justify-content: space-between;
}

.service-item {
  width: 360px;
}

.service-item p {
  width: 247px;
}

.services li:last-child {
  margin-right: 0;
}

.service-title {
  margin-top: 21px;
  margin-bottom: 19px;

  font-size: 24px;
  text-transform: uppercase;
}

.service-button {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 41px;
  border-radius: 3px;
}

.service-button,
.slide-button,
.contacts-button,
.button,
.item-button {
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

.service-button-web,
.slide-button,
.contacts-button,
.button,
.item-button {
  background-color: #fb565a;
}

.service-button-app {
  background-color: #00ca74;
}

.service-button-presentations {
  background-color: #efc84a;
}

.service-button:active,
.slide-button:active,
.contacts-button:active,
.button:active,
.item-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-button:active,
.service-button-web:active,
.service-button-app:active,
.service-button-presentations:active,
.item-button:active,
.slide-button:active,
.contacts-button:active,
.button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active svg {
  opacity: 0.3;
}

.service-button-web:hover,
.slide-button:hover,
.contacts-button:hover,
.button:hover,
.social-button:hover,
.item-button:hover,
.slide-button:hover {
  background-color: #e74246;
}

.service-button-web:active,
.slide-button:active,
.button:active,
.social-button:active,
.slide-button:active {
  background-color: #d7373b;
}

.service-button-app:hover {
  background-color: #00bc6c;
}

.service-button-app:active {
  background-color: #00aa62;
}

.service-button-presentations:hover {
  background-color: #eab534;
}

.service-button-presentations:active {
  background-color: #e5a722;
}

.info-title {
  margin-top: 36px;
  margin-bottom: 33px;
  width: 650px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: inherit;
}

.info-description {
  margin-bottom: 38px;
  width: 650px;

  line-height: 1.5;
  text-align: left;
  color: #283136;
}

.list-title {
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.list {
  position: relative;
  padding-left: 36px;
  text-align: left;
  color: #283136;
}

.table-title {
  width: 360px;
  height: 15px;

  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.percent td:last-child {
  width: 68px;
}

.percent {
  height: 75px;
  width: 93px;

  font-size: 45px;
  font-weight: 700;
  line-height: 0.22;
  text-align: left;
  color: inherit;
}

.table-text td:first-child {
  width: 89px;
  height: 33px;
}

.table-text td:nth-last-of-type(2n) {
  width: 95px;
  height: 35px;
}

.table-text td:last-child {
  width: 105px;
  height: 34px;
}

.table-text {
  line-height: 1.13;
  text-align: left;
  color: #283136;
}

.table-advantages {
  padding-bottom: 77px;
}

.map {
  height: 416px;
  background-size: cover;
  background: url("../img/mapmarker.png") no-repeat 48%;
}

.map::before {
  content: "";
  position: absolute;
  background: url(../img/map-marker.png) no-repeat;
  top: 64px;
  left: 61.2%;
  width: 240px;
  height: 191px;
}

.contacts-title {
  width: 193px;
  padding-bottom: 32px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.67;
  text-align: left;
  color: inherit;
}

.contacts {
  width: 201px;
  height: 30px;

  line-height: 1.13;
  text-align: left;
  color: #666666;
}

.shop-title {
  margin: 0;
  padding-top: 93px;
  padding-bottom: 124px;

  font-weight: 500;
  font-size: 55px;
  text-align: center;
  background-color: #eeeeee;
}

.filters {
  display: flex;
}

.filter-title {
  margin: 0;
  margin-top: 43px;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  line-height: 1.67;
  text-align: left;
  color: inherit;
}

.filter-title:first-child {
  margin: 0;
}

.filter-col {
  margin-top: 55px;
  width: 400px;
}

.price {
  width: 20px;
  height: 13px;

  line-height: 1.38;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #283136
}

.sort-title {
  margin: 0;
  width: 133px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  color: inherit;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  line-height: 1.29;
  text-transform: uppercase;
}

.sort .active a {
  color: inherit;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: inherit;
}

.filter-options {
  color: #283136;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.item-title:hover {
  color: #fb565a;
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-description {
  width: 63%;
  margin-bottom: 29px;
  padding-left: 65px;

  line-height: 1.2;
  overflow-wrap: break-word;
  color: #666666;
}

.item-button {
  width: 200px;
  height: 50px;

  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

.item-button:hover {
  background-color: #e74246;
}

.item-button:active {
  background-color: #d7373b;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.btn-show:hover,
.pagination a:hover,
.btn-next a:hover {
  background-color: #dfdfdf;
}

.btn-show:active,
.pagination-item a:active,
.btn-next a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination a,
.btn-next a,
.btn-show {
  font-weight: 500;
  text-transform: uppercase;

  border: none;
  color: inherit;
  background-color: #eeeeee;
}

.btn-next a {
  width: 260px;
  padding-bottom: 16px;
  padding-top: 15px;
  padding-left: 78px;
  padding-right: 78px;

  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  width: 57px;
  height: 50px;
  padding-left: 21px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 16px;

  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-active a {
  padding-left: 18px;
  padding-right: 17px;
  padding-top: 12px;
  padding-bottom: 13px;

  border-radius: 3px;
  border: solid 3px #dbdbdb;
  color: inherit;
  background-color: #ffffff;
}

.pagination-active a:hover,
.pagitation-active a:active {
  box-shadow: none;
  color: #000000;
  background-color: #ffffff;
}

.discount {
  line-height: 1.38;
  color: #444444;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 576px;
  display: flex;
  margin-bottom: 73px;
  margin-left: 41px;
}

.catalog-item:nth-child(odd) {
  margin-left: -1px;
}

.footer-wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-left-column {
  width: 200px;
  margin-top: 69px;
}

.footer-right-column {
  width: 760px;
}

.slide-active {
  display: block;
}

.second {
  padding-top: 218px;
}

.third {
  padding-top: 195px;
}

.third .slide-description {
  width: 32%;
}

.slide-button {
  width: 240px;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;

  text-align: center;
  border-radius: 3px;
}

.info {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
}

.nerds-logo {
  margin-bottom: 14px;
}

.table-title {
  margin-bottom: 34px;
}

.table-advantages {
  width: 100%;
}

.percent sup {
  top: -16px;
  font-size: 27px;
}

.references {
  display: flex;
  margin-bottom: 80px;
  padding-top: 46px;
  padding-bottom: 11px;
  justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.references-item {
  position: relative;
  width: 22%;
  display: flex;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;
}

.references-item img {
  opacity: 0.2;
}

.references-item:hover img {
  opacity: 1;
}

.references-item:active img {
  opacity: 0.1;
}

.references-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -25px;

  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.contacts-container {
  height: 416px;
  position: relative;
}

.contacts-wrapper {
  position: absolute;
  top: 54px;
  left: 50%;

  width: 319px;
  height: 309px;
  margin-left: -580px;
  background-color: #ffffff;
}

.contacts-title {
  padding-left: 49px;
  padding-bottom: 5px;
  padding-top: 31px;
}

.contacts {
  padding-bottom: 8px;
  padding-left: 51px;
}

.contacts-button {
  display: block;
  width: 219px;
  margin-left: 50px;
  margin-top: 18px;
  padding-top: 14px;
  padding-bottom: 12px;

  text-align: center;
  border-radius: 3px;
}

.social {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.slogan-title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}

.footer-text {
  margin-top: 81px;
}

.pagination {
  display: flex;
  width: 444px;
  padding: 0;
  margin-bottom: 73px;
  margin-top: 0;
}

.sort-wrapper {
  display: flex;
  margin-top: -21px;
  margin-bottom: 76px;
  align-items: center;
}

.sort-col {
  width: 760px;
  margin-top: 58px;
}

.sort {
  display: flex;
  padding-left: 0;
  margin-left: 266px;
  margin-top: 20px;
}

.sort-item {
  margin-right: 30px;
  font-size: 14px;
}

.sort-icons {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.icon-down {
  position: relative;
  margin-left: 25px;
}

.icon-up {
  position: relative;
  margin-left: 54px;
}

.icon {
  display: block;
  width: 11px;
  height: 10px;
}

.icon-up a::before {
  position: absolute;
  top: -4px;

  width: 11px;
  height: 10px;

  content: "";
  background: url("../img/icons/icon-up-dir.svg");
  opacity: 0.2;
}

.icon-down a::before {
  position: absolute;
  top: 6px;

  width: 11px;
  height: 10px;

  content: "";
  background: url("../img/icons/icon-down-dir.svg");
}

.icon-up a:hover::before {
  opacity: 0.4
}

.icon-up a:active::before {
  opacity: 1;
}

.slider-range {
  position: relative;
  width: 220px;
  height: 80px;
  margin-top: 49px;
  margin-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;

  background: #f1f1f1;
  border-radius: 5px;
}

.slider-range::before {
  content: "";
  display: table;
  clear: both;
}

.slider-scale {
  height: 2px;
  margin-left: 10px;
  margin-top: 39px;
  background: #d7dcde;
}

.slider-bar {
  height: 2px;
  width: 135px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  width: 4px;
  height: 4px;

  cursor: pointer;
  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
}

.max-toggle {
  left: 160px;
}

.price-min,
.price-max {
  margin-right: 33px;
  width: 80px;
}

.price-min,
.price-max {
  width: 62px;
  padding: 10px 8px;
  margin-left: 8px;

  text-align: center;
  letter-spacing: 1px;

  color: #283136;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.icon-cart::before {
  position: absolute;
  background-position: 0 0;
  top: 6px;
  left: -40px;

  width: 15px;
  height: 15px;

  content: "";
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
}

.cart {
  position: relative;
  margin-top: 26px;
  margin-bottom: 0;
  padding-left: 0;
}

.site-link-active {
  padding-bottom: 9px;
  border-bottom: 2px solid #fb565a;
}

.social-button {
  width: 80px;
  height: 80px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.feedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  width: 960px;
  height: 590px;
  padding-top: 72px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  justify-content: space-between;

  box-sizing: border-box;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  display: none;
}

.feedback-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__show {
  display: flex;
}

.input-wrapper {
  width: 360px;
  margin: 0 0 36px;
}

.input-wrapper:last-of-type {
  width: 100%;
  margin-bottom: 48px;
}

.feedback-form textarea {
  width: 760px;
  height: 118px;
  resize: none;
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 49px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1.13;
}

.input {
  width: 100%;
  min-height: 50px;
  padding: 14px 16px;

  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #d7dcde;
}

.input:hover {
  border: 2px solid #b4b9bb;
}

.input:focus {
  border: 2px solid #000000;
  outline: 0;
}

.input:focus::placeholder {
  color: #444444;
}

.feedback-label {
  margin-bottom: 47px;
  line-height: 1.13;
  font-weight: 700;
}

.button {
  width: 260px;
  padding-right: 41px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 40px;

  text-transform: uppercase;

  background-color: #fb565a;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
}

.close-button {
  position: absolute;
  top: 87px;
  right: 9%;

  margin-left: 390px;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  outline: 0;
}

.close-button:hover {
  opacity: inherit;
}

.close-button:active {
  opacity: 0.1;
}

.service-description {
  margin-bottom: 46px;
}

.filter-slider {
  margin-bottom: 54px;
}

.filter-options label {
  position: relative;
  display: block;
  margin-left: -4px;

  line-height: 1.5;
  cursor: pointer;
}

.radio-item {
  width: 119px;
  margin-bottom: 15px;
}

.checkbox-item {
  width: 144px;
  margin-bottom: 17px;
  margin-top: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio::before {
  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  content: "";
  background: url("../img/radio-off.svg");
  opacity: 0.4;
}

.input-radio:checked ~ .radio::before {
  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  content: "";
  background: url("../img/radio-on.svg");
}

.radio:hover::before,
.checkbox:hover::before {
  opacity: 1;
}

.checkbox::before {
  position: absolute;
  left: -35px;
  top: -1px;

  width: 23px;
  height: 23px;

  content: "";
  background: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.input-checkbox:checked ~ .checkbox::before {
  position: absolute;
  left: -35px;
  top: -1px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn-show {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  margin-top: 29px;

  outline: 0;
  cursor: pointer;
}

.catalog-item:hover .item {
  display: block;
}

.catalog-item::before {
  position: absolute;
  top: -39px;

  width: 360px;
  height: 40px;

  content: "";
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.3);
}

.catalog-item:hover::before{
  opacity: 1;
}

.item {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 42px;

  text-align: center;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: none;
}

.slider-toggle-list {
  position: absolute;
  left: 50%;
  bottom: 90px;

  display: flex;
  margin: 0;
  margin-left: -45px;
  padding: 0;
  list-style: none;
}

.slider-toggle-item {
  padding: 0;
  margin-right: 17px;
}

.slider-toggle-item:last-child {
  margin-right: 0;
}

.slider-toggle {
  position: relative;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider-toggle-active::before {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 14px;
  height: 14px;

  content: "";
  background-image: url("../img/active-button.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.list-item {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.list-item::before {
  position: absolute;
  top: 11px;
  left: -36px;

  width: 25px;
  height: 2px;

  content: "";
  background-color: #fb565a;
}
