body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
  text-transform: uppercase;
}

.main-header-logo {
  width: 140px;
  height: 65px;
  padding-top: 49px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.cart,
.services,
.social,
.filter-options,
.catalog-list,
.pagination,
.list,
.sort {
  list-style: none;
}

.main-navigation {
  line-height: 1.88;
  font-weight: 500;
  color: inherit;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a {
  font-weight: 500;
  font-size: 16px;
  padding-right: 48px;
  font-size: inherit;
  position: relative;
  color: inherit;
}

.cart a {
  line-height: 1.88;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
}

.slider {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
}

.slide-title {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  color: inherit;
  padding-bottom: 28px;
}

.slide-description {
  color: #283136;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 61px;
}

.slide.first {
  background: url(../img/slide1.png) no-repeat 542px 50px;
}

.slide.second {
  background: url(../img/slide2.png) no-repeat 640px 54px;
}

.slide.third {
  background: url(../img/slide3.png) no-repeat 541px 31px;
}

.service-button,
.slide-button,
.contacts-button {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.service-button-web,
.slide-button,
.contacts-button {
  background-color: #fb565a;
}

.service-button-app {
  background-color: #00ca74;
}

.service-button-presentations {
  background-color: #efc84a;
}

.service-button:active,
.slide-button:active,
.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.service-button-web:hover,
.slide-button:hover,
.contacts-button:hover {
  background-color: #e74246;
}

.service-button-web:active,
.slide-button:active {
  background-color: #d7373b;
}

.service-button-app:hover {
  background-color: #00bc6c;
}

.service-button-app:active {
  background-color: #00aa62;
}

.service-button-presentations:hover {
  background-color: #eab534;
}

.service-button-presentations:active {
  background-color: #e5a722;
}

.info-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: inherit;
}

.info-description {
  line-height: 1.5;
  text-align: left;
  color: #283136;
}

.list-title {
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}

.list {
  font-size: inherit;
  line-height: 1.5;
  text-align: left;
  color: #283136;
}

.table-title {
  width: 328px;
  height: 15px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
}

.percent td:last-child {
  width: 68px;
}

.percent {
 width: 93px;
 height: 35px;
 font-size: 45px;
 font-weight: 700;
 line-height: 0.22;
 text-align: left;
 color: inherit;
}

.table-text td:first-child {
  width: 89px;
  height: 33px;
}

.table-text td:nth-last-of-type(2n) {
  width: 95px;
  height: 35px;
}

.table-text td:last-child {
  width: 105px;
  height: 34px;
}

.table-text {
  line-height: 1.13;
  text-align: left;
  color: #283136;
}

.table-advantages {
  padding-bottom: 77px;
}

.map {
  height: 416px;
  background: url("../img/mapmarker.png") no-repeat;
}

.contacts-title {
  width: 192px;
  height: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-align: left;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.contacts {
  width: 200px;
  height: 71px;
  line-height: 1.13;
  text-align: left;
  color: #666666;
}

.service-title {
  text-transform: uppercase;
}

.shop-title {
  background-color: #eeeeee;
  font-weight: 500;
  font-size: 55px;
  padding-top: 80px;
  padding-bottom: 116px;
  text-align: center;
  margin: 0;
}

.filter-title {
 text-transform: uppercase;
 font-size: 18px;
 font-weight: 700;
 line-height: 1.67;
 letter-spacing: 0.18px;
 text-align: left;
 color: inherit;
}

.price {
 width: 20px;
 height: 13px;
 line-height: 1.38;
 letter-spacing: normal;
 text-align: left;
 color: #283136
}

.sort-title {
 width: 133px;
 height: 14px;
 font-size: 18px;
 text-transform: uppercase;
 font-weight: 700;
 line-height: 1;
 text-align: left;
 color: inherit;
}

.sort a {
  font-size: 13px;
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort .active a {
  color: inherit;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: inherit;
}

.filter-options {
  color: #283136;
}

.item-title {
  text-transform: uppercase;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
}

.item-description {
  color: #666666;
}

.item-button {
  background-color: #fb565a;
  color: #ffffff;
  border: none;
}

.item-title:hover {
  color: #fb565a;
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-button:hover {
  background-color: #e74246;
}

.item-button:active {
  background-color: #d7373b;
}

.btn-show:hover,
.pagination a:hover,
.btn-next a:hover {
  background-color: #dfdfdf;
}

.btn-show:active,
.pagination a:active,
.btn-next a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination a,
.btn-next a,
.btn-show {
  background-color: #eeeeee;
  border: none;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-active a {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
  color: inherit;
}

.pagination-active a:hover {
  background-color: #ffffff;
}

.slogan-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

.discount {
  line-height: 1.38;
  color: #444444;
}

.feedback,
.item {
  display: none;
}

/* --- Сеточные стили --- */

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  padding-left: 140px;
}

.main-navigation {
  padding-top: 83px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart {
  display: inline-flex;
  text-align: right;
}

.site-navigation {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 70px;
}

.services {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.service-item {
  width: 250px;
  margin-right: 100px;
}

.social {
  display: flex;
  margin: 0;
}

.footer-text {
  margin-left: 365px;
}

.slogan-title {
  margin: 0;
}

.shop-title {
  display: block;
  text-align: center;
}

.filters {
  display: flex;
  padding-left: 140px;
  padding-top: 63px;
  margin: 0;
  padding-right: 140px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 110px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding-bottom: 33px;
}
